@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

body {
    background-color: palegoldenrod;
    margin:0;
    padding:0;
    font-family: 'Pontano Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #888;
}

* {
    margin:0;
    padding:0;
}

#container {
    width: 960px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 5px 5px 5px grey;
    background-color: darkgreen;
}

header {
    margin: 0 auto;
    text-align:center;
}

header h1 {
    color: yellow;
    font-size: 40px;
    font-weight: normal;
}

footer p {
    text-align: center;
    color: #ccc;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

fieldset {
    padding: 0 10px 10px 10px;
    border: 1px solid palegoldenrod;
}

legend {
    width: auto;
    font-size: 18px;
    color: white;
}

#homePageContent {
    margin-top: 10px;
}

#homePageContent article h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

#homePageContent article p {
    font-size: 14px;
}

#playersHeader {
    margin-top: 20px;
    text-align: center;
    color: white;
}

#playerTable td, #playerTable th {
    text-align: center;
}

#newPlayerAddButton {
    margin: 2em auto 1em auto;
    display: block;

}
hr {
    border-color: black;
    height: 3px;
}

.clear {
    clear: both;
}

/* Images Formatting */
#homePagePlayer {
    float: right;
    width: 500px;
    padding-left: 10px;
}


