<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>

  <!-- Tell the server to use form-based authentication. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/userLogin.jsp</form-login-page>
      <form-error-page>/userLoginError.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <!-- Protect the user and admin pages -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>login</web-resource-name>
      <url-pattern>/loginAction</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>logout</web-resource-name>
      <url-pattern>/userLogOut-servlet</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>addPlayer</web-resource-name>
      <url-pattern>/addPlayer.jsp</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>addPlayerServlet</web-resource-name>
      <url-pattern>/addPlayer-servlet</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>editPlayer</web-resource-name>
      <url-pattern>/editPlayer.jsp</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>editPlayerServlet</web-resource-name>
      <url-pattern>/editPlayer-servlet</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>addEditPlayer</web-resource-name>
      <url-pattern>/addEditPlayer.jsp</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>addEditPlayerServlet</web-resource-name>
      <url-pattern>/addEditPlayer-servlet</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
        <web-resource-name>editUser</web-resource-name>
        <url-pattern>/editUser.jsp</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>editUserServlet</web-resource-name>
      <url-pattern>/editUser-servlet</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>uniformOrder</web-resource-name>
      <url-pattern>/uniformOrder.jsp</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>orderUniformServlet</web-resource-name>
      <url-pattern>/orderUniform-servlet</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>addEditUniformOrder</web-resource-name>
      <url-pattern>/addEditUniformOrder.jsp</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>addEditUniformOrderServlet</web-resource-name>
      <url-pattern>/addEditUniformOrder-servlet</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>

</web-app>
